.boc {
  display: flex;
  gap: 20px;
}
.form-select {
  width: 180px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  margin-top: 20px;
}
.form-group {
  margin-top: 20px;
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.form-group input {
  text-align: center;
}
.form-chuan {
  width: 210px;
  margin-bottom: 20px;
}
.form-chuan input {
  text-align: center;
}
.result {
  margin-top: 20px;
  font-size: 40px;
}
